<div class="content-cards">
	<a href="{{ include.url }}" class="content-cards__link" target="_blank" rel="noopener noreferrer">
		<div class="content-cards__image"><img src="{{ include.imgurl }}" alt="{{ include.title }}"></div>
		<p class="content-cards__title">{{ include.title }}</p>
		<p class="content-cards__description">{{ include.description }}</p>
		<div class="content-cards__site-name"><img src="{{ include.farvicon }}" alt="" class="content-cards__site-name--favicon" width="16" height="16"> {{ include.author }}</div>
	</a>
</div>