<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="56U4iaZj88XvIq6R70OpcKkZfYAlUUkqPcksIRVEtuM" />
  <meta name="naver-site-verification" content="9ebbb0b55674aeab90f642b554635c6e7d4c51f6" />
  <title>
    {% if page.title %}{{ page.title | escape }} - 부빠기의 UI개발 블로그
    {% else %}부빠기의 UI개발 블로그{% endif %}
  </title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css'
    rel='stylesheet' type='text/css'>
    
  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
    
  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">
  
  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="부빠기의 UI개발 블로그" href="{{ "/feed.xml" | relative_url }}">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T9X8NWC');</script>
  <!-- End Google Tag Manager -->
  <!-- Google AD -->
  <script data-ad-client="ca-pub-8117460626637171" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- End Google AD -->
  <!-- Highlight.js -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/hybrid.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- End Highlight.js -->
    <!-- tipuesearch -->
  <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
  <!-- End tipuesearch.js -->
  <script>
    window.theme = localStorage.getItem('theme');
    if (window.theme === "dark") {
      document.documentElement.classList.toggle('dark');
    }
  </script>
</head>
