{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="fas fa-chevron-left">
        <span class="blind">Prev</span>
      </a>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="fas fa-chevron-right">
        <span class="blind">Next</span>
      </a>
    {% endif %}
    <span class="page_info">{{page.pagination_info.curr_page}} <span class="page-slice">/</span>
      {{page.pagination_info.total_pages}}</span>
  </div>
  {% endif %}
</div>