<div class="header-search-block">
  <button class="search-close"><i class="fas fa-times"></i></button>
  <div class="display-flex">
    <form class="search-form" action="/search" role="search">
      <button class="search-form__submit" type="submit" title="Search"><i class="fas fa-search"></i></button>
      <div class="search-form__input"><input class="tipue_search_input" type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="2글자 이상 입력하셔야 합니다." placeholder="검색어를 입력해주세요." required></div>
      <button class="search-form__reset" type="reset" title="Clear" disabled><i class="fas fa-times"></i></button>
    </form>
  </div>
</div>