<div class="header-search-block">
  <button class="search-close"><i class="fas fa-times"></i></button>
  <div class="display-flex">
    <form class="search-form" action="/search" role="search">
      <button class="search-form__submit" type="submit" title="Search"><i class="fas fa-search"></i></button>
      <div class="search-form__input"><input class="tipue_search_input" type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" placeholder="검색.." required></div>
      <button class="search-form__reset" type="reset" title="Clear"><i class="fas fa-times"></i></button>
    </form>
  </div>
</div>