---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__title {
  line-height:1.2;
}
.page__content {
  .content-cards {
    margin:0 auto 20px;
    padding: 3px;
    width:auto;
    border: 1px solid;
    border-color: #e9eaed #dadada #ccc;
    img {
      max-width:100%;
      width:auto;
    }
    @include e('link') {
      display:block;
      text-decoration:none;
      &:focus,
      &:hover {
        text-decoration:inherit;
        img {
          box-shadow:none;
        }
      }
    }
    @include e('image') {
      position: relative;
      display:flex;
      align-items:center;
      justify-content:center;
      &.not {
        min-height: 125px;
        background-color:#e3e3e3;
        @media only screen and (min-width: 768px) {
          min-height:250px;
        }
        [class^=fa] {
          font-size: em(75);
          color: $background-color;
        }
      }
      img {
        margin:0 auto;
      }
    }
    @include e('title') {
      margin:10px 15px 7px 15px;
      font-weight:800;
      font-size:em(22);
      line-height:1.5;
      color:$dark;
    }
    @include e('description') {
      margin:7px 15px 10px 15px;
      font-size:em(16);
      line-height:1.5;
      color:$dark;
    }
    @include e('site-name') {
      margin: 10px 15px;
      font-style: italic;
      font-size: 12px;
      line-height: 1.5;
      color: #9197a3;
      text-align: right;
      text-transform: uppercase;
      @include m('favicon') {
        display:inline;
        width:auto;
        max-width:100%;
        max-height:24px;
      }
    }
  }
}