---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

main {
  h2 {
    margin-top:3.5rem;
    margin-bottom:2.5rem;
  }
  h3 {
    margin-top:3rem;
    margin-bottom:2rem;
  }
  h4 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  img {
    display: block;
    width:100%;
  }
}

html {
  &.dark {
    body {
      background-color: $dark;
	    color: $light;
    }
    #mainNav {
      background-color: $dark;
      border-bottom: 1px solid $dark;
      &.is-fixed {
        background-color: $dark;
        border-bottom:1px solid $dark;
        .navbar-brand {
          color: $light;
        }
        .navbar-nav,
        .navbar-toggler {
          color: $light;
          > li.nav-item {
            > a {
              color: $light;
            }
          }
        }
      }
    }
    main {
      blockquote {
        background-color: #1d1f21;
        color: #f8f9fa;
        border-left: 10px solid #343a40;
        a {
          color: #e9ecef;
        }
      }
      code.highlighter-rouge {
        background-color: #1d1f21;
        color: #fd7e14;
      }
      img + em,
      img + div + em {
        color: #e9ecef;
      }
    }
    .post-preview {
      > a {
        color:$light;
      }
    }
    .content-cards {
      background-color:$dark;
      border-color:$gray-500 $gray-600 $gray-700;
      @include e('title') {
        color:$white;
      }
      @include e('description') {
        color:$gray-500;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  html {
    &.dark {
      #mainNav {
        background-color: transparent;
        border-bottom: 1px solid transparent;
      }
    }
  }
}