---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8117460626637171"
          data-ad-slot="1048260775"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ content }}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8117460626637171"
          data-ad-slot="1048260775"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
      </div>
    </div>
  </div>